<head>

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<meta name="keywords" content="picnics, entertainment, corporate, outings,
tug-o-war, sac, races, team, building, human, resources, games, summer, fun">

<meta name="google-site-verification" content="FznWJHRhXJOkAnN-V6yeLtkmJbRuRp2rHqLsl1-pzk0" />

</head>
